<!DOCTYPE html>
<html>
   <!-- reference: https://nowills.blogspot.com/search/label/Vue%20js?&max-results=8-->
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Promise based HTTP client for the browser and node.js -->
        <!-- ref: https://ithelp.ithome.com.tw/articles/10194612 -->
    </head>
    <body>
        <!-- example1: v-model-->
        <div id="app1">
            <h1>{{ message }}</h1>
            <input type="text" v-model="message">
            <!-- v-model: when you change the v-model text value, you are changing the {{ message }} value in real-time -->

            <!-- for debug, you can show the $data in json as follows -->
            <div>{{ $data }}</div>
        </div>
        <br>

        <!-- example2: v-show/v-if & v-else-->
        <div id="app2">
            <h1 class="error">Score = {{ score }}</h1>
            <div v-show="score">
                <!-- v-if removes the element directly-->
                <p v-if="score >= 6">show the element if score >= 6</p>
                <p v-else>show the element otherwise</p>
                <!-- v-show uses css "dispaly:none" to hide the element -->
                <p v-show="score >= 10">show the element if score >= 10</p>
            </div>
            <p>Input score: 1 - 10</p>
            <input type="text" v-model="score">
        </div>
        <br>

        <!-- example3: v-on:click -->
        <div id="app3">
            <!-- trigger a callback function on click event, just like query: $('li span').on('click',function(){alert('hi')}); -->
            <input type="submit" value="show alert on click" v-on:click="clickme">
        </div>
        <br>

        <!-- example4: v-on:click + v-model -->
        <div id="app4">
            <p>total clicks: {{count}} times</p>
            <input type="submit" value="add to clicks" v-on:click="clickme">
        </div>
        <br>

        <!-- example5: v-on:click with callback function that has parameters -->
        <div id="app5">
            <button v-on:click="handleIt('uh')">I say uh</button>
            <button v-on:click="handleIt('ah')">you say ah</button>
        </div>
        <br>

        <!-- example6: v-on:submit a form -->
        <div id="app6">
            <form action="submit.html" v-on:submit="handleIt">
                <button type="submit">click to submit</button>
            </form>
        </div>
        <br>

        <!-- example7: v-on:submit a form but prevent from taking action -->
        <div id="app7">
            <form action="submit.html" v-on:submit.prevent="handleIt">
                <!-- besides .prevent, we also have: .stop., .self, .capture -->
                <button type="submit">click to submit with prevent</button>
            </form>
        </div>
        <br>

        <!-- example8: v-for:a for-loop -->
        <div id="app8">
            <span v-for="num in 10">{{ num }}</span>
        </div>
        <br>

        <!-- example9: v-for:two for-loop -->
        <div id="app9">
            <div v-for="i in 3">
                <h3>{{ i }}</h3>
                <div v-for="j in 3">{{ i }} x {{ j }}={{ i*j }}</div>
            </div>
        </div>
        <br>

        <!-- example10: v-for: for a list -->
        <div id="app10">
            <ul>
                <li v-for="item in items">
                    {{ item.message }}
                </li>
            </ul>
        </div>
        <br>

        <!-- example11: v-for: for a list with index -->
        <div id="app11">
            <ul>
                <li v-for="(item, index) in items">
                    {{ parentMessage }} - {{ index }} - {{ item.message }}
                </li>
            </ul>
        </div>
        <br>

        <!-- example12: v-bind:style: bind css style with Vue data -->
        <div id="app12">
            <div v-bind:style="{ color: myColor, fontSize: myFontSize + 'px' }">123</div>
        </div>
        <br>

        <!-- example13: v-bind:style: bind css style with Vue data, in a way that is easier to maintain -->
        <div id="app13">
            <div v-bind:style="myStyle">123</div>
        </div>
        <br>

        <!-- example14: v-bind:class: bind css class with Vue data  -->
        <div id="app14">
            <div v-bind:class="{ active: myCheck }">123</div>
            <!-- i.e. <div class="active"> -->
        </div>
        <br>

        <!-- example15: v-bind:class: bind multiple (dynamic) css classes with Vue data  -->
        <div id="app15">
            <div v-bind:class="{ active: myCheck , normal:myCheck2 }">123</div>
            <!-- i.e. <div class="normal">, the binding can be changed dynamically based on Vue data -->
        </div>

        <!-- example16: Vue + axios (Promise based HTTP client for the browser and node.js)  -->
        <div id="app16">
            <p v-for="teacher in teachers">{{ teacher.name }}</p>
            <!-- the local api should return json string of: [{"name": "John"}, {"name": "Tom"}] -->
            <button @click="fetchTeacherApi">getTeachers</button>
            <!-- run: python server.py -->
            <!-- browse: http://localhost:9000/-->
        </div>

        <!-- example17: Vue.component-->
        <div id="app17">
            <prompt-component></prompt-component>
        </div>

        <!-- example17-2: Vue.component-->
        <div id="app17-2">
            <!-- pass/bind app's data.name to component's prop: user-name  -->
            <prompt-component-2 :user-name="name"></prompt-component-2>
        </div>

        <!--Ref: Vue.component: https://vuejs.org/v2/guide/components.html-->
        <!-- props: custom attributes you can register on a component. -->
        <!--        when a value is passed to a prop attribute, it becomes a property on that component instance-->
        <div id="app18">
            <blog-component v-for="post in posts" v-bind:id="post.postid" v-bind:title="post.name"> </blog-component>
            <!-- v-bind:id="..." bind Vue prop: id to a string, note: v-bind can be omitted for shorthand, i.e. :id="..." -->
        </div>

        <script>
            var data = {
                message:'Hello World!'
            }
            new Vue({
                el:'#app1',
                data:data
            });

            new Vue({
                el:'#app2',
                data:{
                    score:''
                }
            });

            new Vue({
                el:'#app3',
                methods:{
                    clickme: function(){
                        alert("here I am!");
                    }
                }
            });

            new Vue({
                el:'#app4',
                data:{
                    count:0
                },
                methods:{
                    clickme: function(){
                         this.count += 1;
                    }
                }
            });

            new Vue({
                el:'#app5',
                methods:{
                    handleIt: function(msg){
                        alert(msg)
                    }
                }
            });

            new Vue({
                el:'#app6',
                methods:{
                    handleIt: function(){
                        alert("submit!");
                    }
                }
            });

            new Vue({
                el:'#app7',
                methods:{
                    handleIt: function(){
                        alert("submit:prevent!");
                    }
                }
            });

            new Vue({
                el:'#app8'
            });

            new Vue({
                el:'#app9'
            });

            new Vue({
                el:'#app10',
                data:{
                    items: [
                      { message: 'Apple' },
                      { message: 'Banana' },
                      { message: 'Coconut' }
                    ]
                }
            });

            new Vue({
                el:'#app11',
                data: {
                  parentMessage: 'parent message',
                  items: [
                    { message: 'item1 message' },
                    { message: 'item2 message' },
                    { message: 'item3 message' }
                  ]
                }
            });

            new Vue({
                el:'#app12',
                data:{
                   myColor: 'red',
                   myFontSize: 30
                }
            });

            new Vue({
                el:'#app13',
                data:{
                   myStyle: {
                    color: 'red',
                    fontSize: '30px'
                  }
                }
            });

            new Vue({
                el:'#app14',
                data:{
                   myCheck: true
                }
            });

            new Vue({
                el:'#app15',
                data:{
                   myCheck: false,
                   myCheck2: true
                }
            });

            new Vue({
              el : '#app16',
              data : {
                teachers : []
              },
              methods : {
                fetchTeacherApi : function() {
                  let self = this;
                  axios({
                    methods: 'get',
                    url: '/teacher'
                  })
                  .then((resp) => {
                    self.teachers = resp.data;
                  });
                }
              }
            });

            Vue.component('prompt-component', {
              template: '<div><p>${ message }</p><button @click="sayHi">Say Hi!</button></div>',
              delimiters: ['${', '}'],
              data: function () {
                return {
                  message: 'Hello World!'
                }
              },
              methods: {
                sayHi: function() { alert('Hi'); }
              }
            })
            new Vue({
              el: '#app17'
            });


            Vue.component('prompt-component-2', {
              template: '<div><p>${ message }</p><button @click="sayHi(userName)">Say Hi!</button></div>',
              delimiters: ['${', '}'],
              props: ['user-name'],
              data: function () {
                return {
                  message: 'Hello World!'
                }
              },
              methods: {
                sayHi: function(name) { alert('Hi, ' + name); } // Hi, Peter
              }
            })
            new Vue({
              el: '#app17-2',
              delimiters: ['${', '}'],
              data: {
                name: 'Peter'
              }
            });

            Vue.component('blog-component', {
              props: ['id', 'title'],
              template: '<h3>{{ id }} : {{ title }}</h3>'
            })
            new Vue({
              el: '#app18',
              data: {
                posts: [
                  { postid: 1, name: 'My journey with Vue' },
                  { postid: 2, name: 'Blogging with Vue' },
                  { postid: 3, name: 'Why Vue is so fun' }
                ]
              }
            })
        </script>
    </body>
</html>
