<!DOCTYPE html>
<html>
   <!-- reference: https://nowills.blogspot.com/search/label/Vue%20js?&max-results=8-->
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!-- example1: v-model-->
        <div id="app1">
            <h1>{{ message }}</h1>
            <input type="text" v-model="message">
            <!-- v-model: when you change the v-model text value, you are changing the {{ message }} value in real-time -->

            <!-- for debug, you can show the $data in json as follows -->
            <div>{{ $data | json }}</div>
        </div>
        <br>

        <!-- example2: v-show/v-if & v-else-->
        <div id="app2">
            <h1 class="error">Score = {{ score }}</h1>
            <div v-show="score">
                <!-- v-if removes the element directly-->
                <p v-if="score >= 6">show the element if score >= 6</p>
                <p v-else>show the element otherwise</p>
                <!-- v-show uses css "dispaly:none" to hide the element -->
                <p v-show="score >= 10">show the element if score >= 10</p>
            </div>
            <p>Input score: 1 - 10</p>
            <input type="text" v-model="score">
        </div>
        <br>

        <!-- example3: v-on:click -->
        <div id="app3">
            <!-- trigger a callback function on click event, just like query: $('li span').on('click',function(){alert('hi')}); -->
            <input type="submit" value="show alert on click" v-on:click="clickme">
        </div>
        <br>

        <!-- example4: v-on:click + v-model -->
        <div id="app4">
            <p>total clicks: {{count}} times</p>
            <input type="submit" value="add to clicks" v-on:click="clickme">
        </div>
        <br>

        <!-- example5: v-on:click with callback function that has parameters -->
        <div id="app5">
            <button v-on:click="handleIt('uh')">I say uh</button>
            <button v-on:click="handleIt('ah')">you say ah</button>
        </div>
        <br>

        <!-- example6: v-on:submit a form -->
        <div id="app6">
            <form action="submit.html" v-on:submit="handleIt">
                <button type="submit">submit</button>
            </form>
        </div>

        <script>
            var data = {
                message:'Hello World!'
            }
            new Vue({
                el:'#app1',
                data:data
            });

            new Vue({
                el:'#app2',
                data:{
                    score:''
                }
            });

            new Vue({
                el:'#app3',
                methods:{
                    clickme: function(){
                        alert("here I am!");
                    }
                }
            });

            new Vue({
                el:'#app4',
                data:{
                    count:0
                },
                methods:{
                    clickme: function(){
                         this.count += 1;
                    }
                }
            });

            new Vue({
                el:'#app5',
                methods:{
                    handleIt: function(msg){
                        alert(msg)
                    }
                }
            });

            new Vue({
                el:'#app6',
                methods:{
                    handleIt: function(){
                        alert("here I am!");
                    }
                }
            });
        </script>
    </body>
</html>
